@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');
@font-face {
  font-family: faktum;
  src: url(../fonts/Faktum-Medium.ttf);
  font-weight: medium;
}

@font-face {
  font-family: faktum;
  src: url(../fonts/Faktum-SemiBold.ttf);
  font-weight: bold;
}
@import url(./app.css);
@import url(./responsive.css);


